%main.error-container.clearfix
  .error-container__l-content
    .error404
      = image_tag 'error404.png'
  .error-container__l-side
    .l-visible-large
      = link_to image_tag('side_banner.jpg'), "#"
