.whole-footer {
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;
  a {
    color: #fff;
    font-size: 12px;
    line-height: 1.5em;
  }
}

.main-footer{
  width: 1020px;
  margin: 0 auto;
  @media(max-width: 1068px) {
    width: 100%;
  }
}

.footer-column {
  width: 23%;
  padding: 0 40px 0 0;
  vertical-align: top;
  display: block;
  float: left;
  margin-top: 18px;
  &__top {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
  }
  &__left {
    padding: 0 10px 0 0;
    float: left;
    vertical-align: top;
    width: 50%;
  }
  &__right {
    float: left;
    padding-left: 10px;
    vertical-align: top;
    width: 50%;
  }
  ul{
    li.fast{
      margin: 16px 0 0;
      color: #fff;
    }
    li.footer-social {
      display: inline-block;
      a {
        opacity: 1;
        i {
          background: transparent;
          margin: 16px 18px 0 0;
        }
        .fa-twitter-square {
          font-size: 30px;
          color: #fff;
        }
        .fa-facebook-square {
          font-size: 30px;
          color: #fff;
        }
      }
    }
    li{
      margin: 14px 0 0;
      color: #fff;
      a {
        display: block;
        opacity: 0.7;
      }
    }
  }
}

.fast-child {
  width: 20%;
  padding: 0 20px 0 0;
}

.footer-width {
  margin-top: 18px;
  padding: 0 40px 0 0;
  width: 42%;
  @media(max-width: 1068px) {
    width: 100%;
    margin: 30px 0 0;
    padding: 0;
  }
}

.footer-lang {
  width: auto;
  margin-top: 18px;
  padding: 0;
}

.footer-bottom {
  margin: 30px auto 20px;
  width: 1020px;
  @media(max-width: 768px) {
    width: 100%;
  }
  .footer-logo {
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }
}

.footer-copyright {
  width: 745px;
  display: inline-block;
  margin: 8px 0 0;
  text-align: center;
  vertical-align: sub;
  @media(max-width: 768px) {
    width: 100%;
  }
  span {
    font-size: 12px;
  }
}
